@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #3b82f6;
  --color-secondary: #2c4ba1;
  --color-tertiaty: #bfd4f2;
}

a { 
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-play-state: paused;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  padding: 5px 10px;
}

.wave:hover {
  animation-play-state: running; /* Start animation on hover */
  animation-iteration-count: infinite; /* Make it loop on hover */
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}